# macOS
.DS_Store

# Xcode
build/
DerivedData/

# Xcode user data
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# App build output
*.ipa
*.app

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/